// remove edit button
.entry-footer {
  display: none;
}

// footer area
.footer-wrapper {
  border-top-style: solid;
  border-top-width: 3px;
}

// colophon area
.colophon-wrapper {
  border-top-style: solid;
  border-top-width: 1px;
}
