@import "default";

// ----- Theme Style ----- //

.footer-wrapper {
  padding: 4rem 0 2rem 0;
  .container {
    footer { // #footer-sidebar .row .widget-area
      > div {
        // footer sidebar columns bottom margins
        margin-bottom: 1.25rem;
      }
    }
  }
}
.colophon-wrapper {
  .container {
    .row {
      padding: 1.25rem 0;
    }
  }
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  .footer-wrapper {
    padding: 4rem 0 2rem 0;
    .container {
      footer { // #footer-sidebar .row .widget-area
        > div {
          // footer sidebar columns bottom margins
          margin-bottom: 1.25rem;
        }
      }
    }
  }
  .colophon-wrapper {
    .container {
      .row {
        padding: 1.5rem 0;
        .col-md-12 {
          footer { // #colophon .site-footer

          }
        }
      }
    }
  }
}

