// ----- Nav menu font family
// Main header navbar font family
.menu-primary ul li a {
	font-family: $font__nav;
}
// Top header navbar font family
.menu-secondary ul li a {
	font-family: $font__sub-nav;
}
// ----- //

// ----- Hamburger button position for Wordpress
.hamburger { // menu list allow change position
    position: absolute;
    z-index: 10; // position above mobile menu div
}
// .admin-bar .hamburger {
//     top: 46px;
// }
// .site-header.sticky .hamburger {
//     top: 0;
// }
// @media screen and (min-width: 783px) {
//     .admin-bar .hamburger {
//         top: 32px;
//     }
//     .site-header.sticky .hamburger {
//     }
// }
// ----- //



@include media-breakpoint-up($breakpoint__mobile-nav) {
	.navbar-toggle {
		display: none !important; // hide hamburger on larger devices
	}
	.navbar-nav {
		@include justify-content($justify-content__main-nav);
	}
	.navbar-nav .dropdown-menu.show {
		position: absolute; // dropdown ignore width
	}
}
