@include media-breakpoint-up($breakpoint__mobile-nav) { // <- set bootstrap mobile menu breakpoint
	.navbar-nav {
		flex-direction: $flex-direction__main-nav; // menu direction
	}
	.navbar-collapse {
		ul {
			li {
				ul.dropdown-menu.show {
					li {
						a.dropdown-item {
							padding-left: 1rem;
							color: $color__link;
							@include font-size(.875);
						}
					}
				}
			}
		}
	}
}
