/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links-clean";

/*--------------------------------------------------------------
## Post Navigation
--------------------------------------------------------------*/
@import "post-nav";

/*--------------------------------------------------------------
## Mobile Menus
--------------------------------------------------------------*/
@import "mobile/slide-in-left";

/*--------------------------------------------------------------
## Navigation Layout
--------------------------------------------------------------*/
@import "default";
@import "nav-logo-left";

/* ----- Theme Codes ----- */

// Navigation Variables

// mobile menu list top spacing
.navbar-collapse {
  padding-top: 7.7rem;
}
// mobile menu list max width
.navbar-collapse.show {
  max-width: 450px;
}
// mobile menu item default spacing
.navbar-nav .nav-link {
  padding: 0.75rem 1rem;
}

@include media-breakpoint-up(lg) {
  // mobile menu list top spacing remove
  .navbar-collapse {
    padding-top: 0;
  }
  .navbar-nav {

  }
  .navbar-collapse ul li:nth-child(1) > a[aria-expanded=true] {
    color: #90c31f;
  }
  .navbar-collapse .nav-item:nth-child(1) > .dropdown-menu {
    border-top: 3px solid #90c31f;
  }
}
// dropdown menu link color
.navbar-collapse ul li ul.dropdown-menu.show li a:hover {
  color: #90c31f;
  font-weight: 700;
}

// menu item 2nd spacing
.dropdown-menu .dropdown-item {
  padding: 0.5rem 0 0.5rem 1rem;
}
// mobile menu font size
.navbar, .dropdown-menu {
  @include font-size(0.875);
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  // lg + menu padding
  .navbar-nav .nav-link {
    padding: 0.5rem 2rem;
  }
  // nav bar position
  .navbar-collapse {
    ul {
      border-top: 1px solid #eee;
      li {
        a { // nav link color
          @include font-size(0.875);
          color: $color__text-nav;
          font-weight: 700;
          &:hover {
            color: $color__text-nav-hover;
          }
        }
        ul.dropdown-menu.show {
          -webkit-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
          box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
          li {
            a {
              &:hover {
                background-color: $color__background-nav-dropdown-hover;
              }
              &:active {
                background-color: $color__background-nav-dropdown-active;
              }
              color: $color__text-nav-dropdown;
            }
          }
        }
      }
    }
  }
  // current menu parent menu item color
  .navbar-collapse .menu-item-77.current-menu-parent a {
    color: #90c31f;
  }
}

/* ----- On scroll ----- */

// menu list top spacing
.site-header.sticky .navbar-collapse {
  padding-top: 4.5rem;
}
@include media-breakpoint-up(lg) {
  // change header layout on scroll
  .site-header.sticky .site-branding {
    position: relative;
  }
  .site-header.sticky .navbar-collapse {
    padding-top: 0.875rem;
  }
  .site-header.sticky .navbar-collapse ul li:nth-child(3) {
    margin-right: 0;
  }
  .site-header.sticky .navbar-collapse ul li:nth-child(4) {
    margin-left: 0;
  }
  .site-header.sticky .navbar-nav {
    float: right;
  }
}
// header transitions
.site-header, .site-header .site-branding, .site-header .navbar-collapse, .site-header .navbar-collapse ul li:nth-child(3), .site-header .navbar-collapse ul li:nth-child(4) {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@include media-breakpoint-down(md) {
  .site-header, .site-header .site-branding, .site-header .navbar-collapse, .site-header .navbar-collapse ul li:nth-child(3), .site-header .navbar-collapse ul li:nth-child(4) {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
}
