// ----- Default ----- //
// --- Layout --- //
.navbar-primary {
    width: 100%; // expand collapsed wrapper
    position: absolute;
    padding: 0;
    top: 0;
    z-index: 1000; // order navbar above page content
    .nav-wrapper {
        .menu-primary {
            // Mobile menu transition initial state properties -> to be removed for PC
            width: 0;
            @include transition(width .1s ease-in-out, opacity .1s linear);
            #menu-primary-menu {
                .nav-item {
                    .nav-link {
                        opacity: 0;
                    }
                }
            }
            &.show {
                display: block;
                position: absolute;
                right: 0;
                width: 100%; // mobile menu transition end state properties
                height: 100vh;
                #menu-primary-menu {
                    >.nav-item {
                        >.nav-link {
                            opacity: 1; // mobile menu transition end state properties
                        }
                        .dropdown-menu.show {
                            // dropdown menu spacing
                            margin: 0;
                            padding: 0;
                            border: none;
                            border-radius: 0;
                            .nav-item {
                                &.current-menu-item {
                                    .dropdown-item {
                                        // active link bold
                                        font-weight: 700;
                                    }
                                }
                                .dropdown-item {
                                    &:first-child {
                                        // removed border radius
                                        border-top-left-radius: 0;
                                        border-top-right-radius: 0;
                                        }
                                    &:last-child {
                                        // removed border radius
                                        border-bottom-right-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
    .hamburger {
        display: none;
    }
    // Unset mobile navbar settings
    .navbar {
        position: inherit;
        top: inherit;
        @include justify-content(flex-end);
    }
    // Mobile menu properties reset
    .navbar-primary {
        .nav-wrapper {
            .menu-primary {
                // Display none reset
                @include flexbox;
                @include justify-content(flex-end);
                width: 100%;
                #menu-primary-menu {
                    .nav-item {
                        .nav-link {
                            // Opacity 0 reset
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
