/*
* Color Structure
* 
* Light Color Scheme, Flat Design, Edged Corners
*
*/
@import "custom-color-scheme";

// ----- Medium Devices and Smaller (xs,sm,md) ----- //
@media (max-width: 991.98px) {
  // Use raw breakpoints -> Bootstrap loads after
  header { // #masthead .site-header
    // header background
    background-color: $base-color;
    &.sticky {
      // fixed header background
      background-color: $base-color;
    }
    #top-header {
      // top header background
      background-color: $base-color;
    }
    #main-header {
      // header border top
      border-top-color: $secondary-color;
      .container {
        // Logo background
        .site-branding {
          background-color: $base-color;
        }
        nav { // .navbar-primary .navbar
          .nav-wrapper {
            .navbar-collapse { // .menu-primary
              &.show {
                // primary nav background
                background-color: $ng-base-color;
                border-left-color: $line-color-ng;
                > ul { // #menu-primary-menu .navbar-nav
                  > li { // .nav-item
                    &:hover:before {
                      // hover left highlight bar
                      background-color: $accent-color;
                    }
                    > a { // .nav-link
                      color: $font-color-ng;
                      &[aria-expanded="true"] {
                        background-color: $primary-color;
                        color: $font-color-ng;
                        &:hover {
                          background-color: $secondary-color;
                          color: $font-color-ng;
                        }
                      }
                      &[aria-expanded="false"] {
                        &:hover {
                          background-color: $secondary-color;
                          color: $font-color-ng;
                        }
                      }
                    }
                    > ul { // .dropdown-menu
                      &.show {
                        background-color: $ng-base-sub-color;
                        > li { // .nav-item
                          > a { // .dropdown-item
                            background-color: $ng-base-sub-color;
                            color: $font-color-ng;
                            &:hover {
                              color: $font-color-ng;
                            }
                          }
                          &.current-menu-item {
                            > a { // .dropdown-item
                              background-color: $ng-base-sub-color;
                              color: $font-color-ng;
                              &:hover {
                                background-color: $ng-base-sub-color;
                                color: $font-color-ng;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                } // .navbar-nav
              }
            } // .navbar-collapse
          }
        }
      }
    } // #main-header
  } // header
  .footer-wrapper {
    background-color: $ng-base-color;
    border-top-color: $base-color;
  }
  .colophon-wrapper {
    background-color: $ng-base-sub-color;
    border-top-color: $line-color-ng;
    .container {
      .row {
        .col-md-12 {
          footer {
            .site-info {
              color: $font-color-ng;
              > a {
                color: $font-color-ng;
              }
            }
          }
        }
      }
    }
  }
}

// ----- Large Devices and Larger (lg,xl) ----- //
@media (min-width: 992px) {
  // Use raw breakpoints -> Bootstrap loads after
  header { // #masthead .site-header
    // Header background
    background-color: $base-color;
    // Fixed header background
    &.sticky {
      background-color: $base-color;
    }
    #top-header {
      // Top header background
      background-color: $base-color;
      // PC header border top
      border-top-color: $secondary-color;
      // Top header right widget divider
      li:not(:first-child):before {
        background-color: $line-color;
      }
    }
    #main-header {
      .container {
        .site-branding {
          // PC logo background
          background-color: $base-color;
        }
        nav { // .navbar-primary .navbar
          .nav-wrapper {
            .navbar-collapse { // .menu-primary
              > ul { // #menu-primary-menu .navbar-nav
                > li { // .nav-item
                  > a { // .nav-link
                    &:hover {
                      // main nav menu item hover color
                      color: $accent-color;
                    }
                  }
                  &.current-menu-item {
                    > a { // .nav-link
                      // current main nav menu item color
                      color: $accent-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-wrapper {
    background-color: $ng-base-color;
    border-top-color: $base-color;
  }
  .colophon-wrapper {
    background-color: $ng-base-sub-color;
    border-top-color: $line-color-ng;
    .container {
      .row {
        .col-md-12 {
          footer {
            .site-info {
              color: $font-color-ng;
              > a {
                color: $font-color-ng;
              }
            }
          }
        }
      }
    }
  }
}

// ----- Elements & Components ----- //

// --- Buttons --- //
// Bootstrap Buttons Light Area //
.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn.btn-primary.dropdown-toggle {
  background-color: $accent-color;
  border-color: $accent-color;
}
.btn.btn-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

// --- Custom Mobile Icons --- //
#mobile-header-widget-1 {
  a {
    // my account widget icon
    color: $font-color;
    &:hover {
      color: $font-color-ac;
    }
  }
}

// ----- //

// ----- Underscore Default ----- //

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;