/*
* 
* Primary Color: #1f2d60 
* Complementary Scheme
*
*/

// ----- Color Scheme ----- //

// Primary Color - Navy Blue #1f2d60
$primary-color: #1f2d60;

// Secondary Color - Blue #0B26BF
$secondary-color: #2643AD;

// Tertiery Color - Light Blue #283FBF
$tertiery-color: #495FAD;

// Accent Color - Button, link hover etc.
// $accent-color: #AD8515;
$accent-color: #f6be07;

// Sub Color - Brown #735A0D
// $sub-color: #614F1F;
$accent-sub-color: #AD8515;

// ----- //


// ----- Typography ----- //

// Primary - Light Area Font
$font-color: #333;

// Negative Primary - Dark Area Font
$font-color-ng: #fff;

// Accent - Light Area Accent
$font-color-ac:  #2643AD;

// Negative Accent - Dark Area Accent
$font-color-ng-ac: #f6be07;

// ----- //


// ----- Structural ----- //

// --- Layout --- //

// PC //

// Base Color - background header, body etc.
$base-color: #fff;

// Base Sub Color - background header sub, body sub etc.
$base-sub-color: #f2f2f2;

// Mobile //

// Negative Base Color - nav background
$ng-base-color: #23282d;

// Negative Base Sub Color - expanded nav background
$ng-base-sub-color: #191e23;

// Line / Divider - Light Area
$line-color: #808080;

// Negative Line / Divider - Dark Area
$line-color-ng: #ccc;

// ----- //