// Site meta removed
.site-title, .site-description {
  display: none;
}
// Header default design
.site-header {
  position: relative; // pro tip - make box shadow visible!
  -webkit-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
}
// Logo position above header row
.site-branding {
  z-index: 1;
}
// Header apply flex
#main-header .container {
  @include flexbox;
  @include align-items(center); // vertical middle elements
  @include justify-content(center); // mobile center logo
}
// ----- Logo size
// Default
.custom-logo-link {
  width: 100%;
}
// Mobile header logo size
.custom-logo-link {
  max-width: $size__logo-mobile-x;
}
.custom-logo-link img {
  max-width: $size__logo-mobile-x;
  max-height: $size__logo-mobile-y;
}
// Fixed header height div if exist
.header-sticky-height {
  overflow: visible;
}
// Header widget margin padding reset
.site-header .widget {
  margin: 0;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  // Header enclose child contents
  .site-header .container {
    position: relative;
  }
  // ----- Logo size
  // PC header logo size
  .custom-logo-link {
    max-width: $size__logo-pc-x;
  }
  .custom-logo-link img {
    max-width: $size__logo-pc-x;
    max-height: $size__logo-pc-y;
  }
}

// ----- Responsive main header height
// main header xs height
#main-header .container {
  height: $height__xs-main-header;
}
@include media-breakpoint-up(sm) {
  // main header height
  #main-header .container {
      height: $height__sm-main-header;
  }
}
@include media-breakpoint-up(md) {
  // main header height
  #main-header .container {
      height: $height__md-main-header;
  }
}
@include media-breakpoint-up(lg) {
  // main header height
  #main-header .container {
      height: $height__lg-main-header;
  }
}
@include media-breakpoint-up(xl) {
  // main header height
  #main-header .container {
      height: $height__xl-main-header;
  }
}