// Site meta removed
.site-title, .site-description {
  display: none;
}
// Header default design
.site-header {
  background-color: $color__background-header;
  -webkit-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 64px -17px rgba(0,0,0,0.75);
}
// Header apply flex
#main-header .container {
  display: flex;
  align-items: center; // vertical middle elements
  justify-content: center; // mobile center logo
}
// Logo default size
.custom-logo-link {
  width: 100%;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  // Header enclose child contents
  .site-header .container {
    position: relative;
  }
  // Header widget margin padding reset
  .site-header .header-widget .widget {
    margin: 0;
  }
}
@include media-breakpoint-down(md) {
  .navbar {
    top: 0;
    left: 0;
  }
}
