@import "default";

/*--------------------------------------------------------------
## Mobile only: mobile only elements
--------------------------------------------------------------*/
@import "mobile-only";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "logo-left";
// @import "logo-center";
// @import "logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
@import "top-header";

/* ----- Theme ----- */

// ----- Mobile ----- //

// Logo design
.site-branding {
  padding: 5px;
  border-radius: 100px;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  // Logo PC positioning
  .site-branding {
    margin-top: -35px;
  }
}
