@include media-breakpoint-up($breakpoint__mobile-nav) {
  // align logo left
  .site-branding {
    text-align: left;
  }
  // align menu right
  .navbar {
    left: auto;
    right: 0;
  }
  .site-header.sticky .navbar-collapse {
    padding-top: 0;
  }
  .site-header.sticky .navbar-collapse ul {
    border-top: none;
  }
}
