@include media-breakpoint-up($breakpoint__mobile-nav) {
  // Logo align left
  #main-header .container {
    @include justify-content(flex-start);
  }
  // Logo position above navbar row
  .site-branding {
    z-index: 1001;
  }
  // Navbar align right
  #main-header .navbar {
    right: 0;
  }
  .site-header.sticky .navbar-collapse {
    padding-top: 0;
  }
  .site-header.sticky .navbar-collapse ul {
    border-top: none;
  }
}
