// ----- Custom element ----- //
// --- Responsive fullwidth top bar design
#top-header {
    border-top: none;
}
#main-header {
    border-top: 5px solid;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
    #top-header {
        border-top: 5px solid;    
    }
    #main-header {
        border-top: none;
    }
}

// ----- Top header design ----- //
// Hide on mobile
#top-header {
    display: none;
}
// Top header apply flex
#top-header .container {
    @include flexbox;
}

@include media-breakpoint-up($breakpoint__mobile-nav) { // <- set bootstrap mobile menu breakpoint
    // Top header properties
    #top-header {
        // Show on PC
        display: block;
    }
    // Top header hide on fixed header scroll
    .site-header.sticky #top-header {
        display: none;
    }
    // Top header text widget design
    #top-header .widget-area p {
        display: block;
        font-size: .69rem;
        font-weight: 900;
        margin-bottom: 0;
        margin-top: .2rem;
    }
    // Top header widget positioning
    #header-widget-1 {
        margin-left: 100px;
        width: 100%; // extend 50%
    }
    // Top header navbar-nav menu align right
    #top-header .navbar .navbar-nav {
    @include flex-just(flex-end);
    }
    // Secondary nav divider logged out
    #top-header .navbar .navbar-nav li:not(:first-child):before {
        display: block;
        position: absolute;
        top: .5rem;
        right: 4rem;
        width: 1px;
        height: .5rem;
        content: '';
    }
    // Secondary nav divider logged in
    body.logged-in #top-header .navbar .navbar-nav li:not(:first-child):before {
        right: 4.65rem;
    }
}

// ----- Responsive top header height
// top header xs height
#top-header .container {
    height: $height__xs-top-header;
}
@include media-breakpoint-up(sm) {
    // top header height
    #top-header .container {
        height: $height__sm-top-header;
    }
}
@include media-breakpoint-up(md) {
    // top header height
    #top-header .container {
        height: $height__md-top-header;
    }
}
@include media-breakpoint-up(lg) {
    // top header height
    #top-header .container {
        height: $height__lg-top-header;
    }
}
@include media-breakpoint-up(xl) {
    // top header height
    #top-header .container {
        height: $height__xl-top-header;
    }
}