// Show page after load all elements
html {
  visibility: hidden;
  body {
    // essentials
    -webkit-tap-highlight-color: transparent; // remove click highlight
    word-break: keep-all; // wordwrap
  }
}

