@import "../../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "woocommerce-single";
@import "primary/posts-and-pages";
@import "default"; // pm resets
@import "home"; // home page
@import "about-us"; // about us page

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/* ----- Theme ----- */

/* ----- Global Elements ----- */
// remove single post thumbnails
.post-thumbnail {
	display: none;
}
// page title hide on all posts & pages
.entry-header {
	display: none;
}
// Mobile all posts & pages spacing top (not home) due to banner
body:not(.home):not(.search) .site-content {
	padding-top: 3em;
}
.single .entry-content {
	margin-top: 0;
}
@include media-breakpoint-up(lg) {
	// all posts & pages spacing bottom
	.site-content {
		padding-bottom: 4em;
	}
	// PC all posts & pages spacing top (not home) due to banner
	body:not(.home):not(.search) .site-content {
		padding-top: 4em;
	}
}
/* ----- /Global Elements ----- */
