/* ----- Main Home ----- */

// --- Row 1 hero slider ---


// --- Row 2 notice & promo ---
.page-id-19 {
  .line-notice {
    position: relative;
    .line_left {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #0d1d74;
      z-index: -1;
    }
    .line_right {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f2f2f2;
      z-index: -1;
    }
    .container {
      display: flex;
      align-items: center;
      .notice_preview_title {
        flex-basis: 7%;
        p {
          margin-bottom: 0;
          color: #fff;
          font-weight: 900;
        }
      }
      .notice_preview_content {
        flex-basis: 43%
      }
      #kboard-default-latest {
        table {
          margin-bottom: 0; // remove margin bottom
          border-bottom: none; // remove border bottom
          >thead {
            display: none;
          }
          td {
            border-top: none;
          }
        }
      }
      // Line notice text color
      .kboard-default-cut-strings, .kboard-latest-date {
        color: #fff;
      }
    } // !--- .container
  }
}

// --- Row 3 membership promo ---


//
@include media-breakpoint-down(lg) { // 1199.98px and down

}
@include media-breakpoint-down(md) { // 991.98px and down

}
@include media-breakpoint-down(sm) { // 767.98px and down

}
@include media-breakpoint-down(xs) { // 575.98px and down

}



@include media-breakpoint-up(sm) { // 576px and up

}
@include media-breakpoint-up(md) { // 768px and up

}
@include media-breakpoint-up(lg) { // 992px and up

}
@include media-breakpoint-up(xl) { // 1200px and up

}
