/* ----- Main Home ----- */

// --- Row 1 hero slider ---


// --- Row 2 notice & promo ---
.page-id-19 {
  .line_notice {
    position: relative;
    .line_left {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
    }
    .line_right {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #333;
      z-index: -1;
    }
    .container {
      @include flexbox;
      @include align-items(center);
      .row {
        @include align-items(center);
        .notice_preview_title {
          @include flex-grow(0); // stop element growth
          p {
            font-family: $font__sub-nav;
            @include rfs(16);
            font-weight: 900;
            color: #0d1d74;
          }
        }
        .notice_preview_content {
          #kboard-default-latest {
            table {
              margin-bottom: 0; // remove margin bottom
              border-bottom: none; // remove border bottom
              >thead {
                display: none;
              }
              td {
                padding: 1rem 0 1rem 0.75rem !important;
                border-top: none;
              }
              .kboard-latest-title {
                @include rfs(13);
                font-weight: 900;
              }
            }
          }
          // Line notice text color
          .kboard-default-cut-strings, .kboard-latest-date {
            color: #333;
          }
          .kboard-latest-date {
            display: none;
          }
        }
        .view_more_btn {
          @include flex-grow(0); // stop element growth
          @include rfs(24);
          a {
            color: $color__text-nav-hover;
          }
        }
        .promo_preview_title {
          font-family: $font__sub-nav;
          @include rfs(16);
          color: #fff;
          font-weight: 900;
        }
        .promo_preview_content {
          color: #fff;
        }
      } // !--- .row 
    } // !--- .container
    // row with no p bottom margin
    p {
      margin-bottom: 0;
    }
  } // !--- .line_notice.container-fluid
} // !--- .page-id-19

// --- Row 3 toggle promo ---
// Top and bottom padding removed
.toggle_promo {
  padding: 0;
}
// Content toggle hide
.toggle_promo .collapse:not(.show) {
  display: none;
}
// Bootstrap card default border removed
.toggle_promo .card {
  border: none;
}

// --- Row 4 Biz member promo
.row_membership {
  background: url(/wp-content/uploads/2019/04/PB.Guidelines-Pattern-Background-Navy-Blue.jpg);
  color: #fff;
}

// --- Row 5 bulk ordering
.row_bulkorder {
  background-color: #f2f2f2;
}

// --- Row 6 gift certificates
.row_giftcerts {

}
// --- Row 7 anniversary delivery


// --- Row 8 catering


@include media-breakpoint-down(lg) { // 1199.98px and down

}
@include media-breakpoint-down(md) { // 991.98px and down

}
@include media-breakpoint-down(sm) { // 767.98px and down

} 
@include media-breakpoint-down(xs) { // 575.98px and down

}



@include media-breakpoint-up(sm) { // 576px and up

}
@include media-breakpoint-up(md) { // 768px and up
  .page-id-19 {
    .line_notice {
      .line_left {
      }
      .line_right {
      }
      .container {
        .row {
          .notice_preview_title {
            @include flex-grow(0);
            p {
            }
          }
          .notice_preview_content {
            flex-basis: 26%;
            @include flex-grow(1);
            #kboard-default-latest {
              table {
                >thead {
                }
                td {
                }
              }
            }
            // Line notice text color
            .kboard-default-cut-strings, .kboard-latest-date {
            }
            .kboard-latest-title {
              // Left line height
              height: 55px;
              @include rfs(14);
            }
            .kboard-latest-date {
            }
          }
          .view_more_btn {
            @include flex-grow(0);
            @include rfs(24);
            a {
              &:hover {
                color: #ffd780;
              }              
            }
          }
          .promo_preview_title {
            @include flex-grow(0);
          }
          .promo_preview_content {
            flex-basis: 24%;
            @include flex-grow(1);
          }
          .promo_btn {
            @include flex-grow(0);
          }
        } // !--- .row
      } // !--- .container
    } // !--- .line_notice 
  } // !--- .page-id-19
}
@include media-breakpoint-up(lg) { // 992px and up

}
@include media-breakpoint-up(xl) { // 1200px and up

}
